In [1]:
from mesa.batchrunner import batch_run
from mesa_model.fungi_model import FungiModel
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [11]:
parameters = {}


run = batch_run(
    FungiModel, 
    parameters,
    number_processes=None,
    data_collection_period=1,
    iterations=100,
    max_steps=99,
)

100%|██████████| 100/100 [01:59<00:00,  1.19s/it]

In [12]:
batch_df = pd.DataFrame(run)

In [13]:
batch_df.shape

(10000, 6)

In [14]:
batch_df.tail()

      RunId  iteration  Step  agent_count  total_hypha_length total_substrate
9995     99         99    95         8063       356847.321168            None
9996     99         99    96         8204       363270.434806            None
9997     99         99    97         8338       369049.556250            None
9998     99         99    98         8474       374733.140726            None
9999     99         99    99         8602       380311.074708            None

In [15]:
batch_df[batch_df["iteration"] == 1]

     RunId  iteration  Step  agent_count  total_hypha_length total_substrate
600      1          1     0           24          400.000000            None
601      1          1     1           32          800.000000            None
602      1          1     2           41         1200.000000            None
603      1          1     3           50         1600.000000            None
604      1          1     4           59         2050.000000            None
..     ...        ...   ...          ...                 ...             ...
695      1          1    95         8044       350781.421201            None
696      1          1    96         8211       358311.008268            None
697      1          1    97         8360       365466.203689            None
698      1          1    98         8506       372553.319571            None
699      1          1    99         8651       379041.517092            None

[100 rows x 6 columns]

In [16]:
batch_df[batch_df["Step"] == 0]

      RunId  iteration  Step  agent_count  total_hypha_length total_substrate
0         3          3     0           24               400.0            None
100       6          6     0           24               400.0            None
200       0          0     0           24               400.0            None
300       7          7     0           24               400.0            None
400       2          2     0           24               400.0            None
...     ...        ...   ...          ...                 ...             ...
9500     94         94     0           24               400.0            None
9600     96         96     0           24               400.0            None
9700     97         97     0           24               400.0            None
9800     98         98     0           25               400.0            None
9900     99         99     0           24               400.0            None

[100 rows x 6 columns]

In [ ]:
line = sns.lineplot(
    data=pd.melt(gldf.drop('average', axis = 1), id_vars=['Step'], value_name='fish_pop', var_name=''),
    x='years',
    y='fish_pop',
    hue='trial',
).plot(
    gldf['average'],
    color = 'red',
)